*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

venv

_src/*
_res/*
.codeintel

#sqllite
*.db

#logs
*.log

node_modules
bower_components
frontend/public/js
frontend/public/index.html
frontend/public/css
backend/profile/data
blog/build

# pip install dir
backend/src

fabconfig.py