<div class="customiser {{# preview}}preview{{/ preview}}" proxy-click="closeSlots" proxy-tap="clearPreview">
	<div class="small-secreen-tab-control">
		<button class="switch-to-character {{# activeScreen == 'character' }}active{{/ activeScreen}}" proxy-tap="switchScreen" data-target-screen="character">
			Character
		</button><button class="switch-to-equipment {{# activeScreen == 'equipment' }}active{{/ activeScreen}}" proxy-tap="switchScreen" data-target-screen="equipment">
			Equipment
		</button>
	</div>
	<div class="main">
		<div class="screen character-screen {{# activeScreen == 'character' }}active{{/ activeScreen}}">
			
			<div class="subsection name">
				<label for="character-name">
					Name
				</label><div class="controls">
					<input type="text" id="character-name" value="{{username}}" placeholder="Username">
				</div>
			</div>
			<div class="subsection gender">
				<label for="character-name">
					Gender
				</label><div class="controls">
					<button proxy-tap="select" proxy-mouseover="hint" data-slot="gender" proxy-mouseout="clearHint" data-id="male" class="icon sprite-male {{# gender == 'male'}}active{{/selectedItem}}"></button>
					<button proxy-tap="select" proxy-mouseover="hint" data-slot="gender" proxy-mouseout="clearHint" data-id="female" class="icon sprite-female {{# gender == 'female'}}active{{/selectedItem}}"></button>
				</div>
			</div>

			<div class="subsection hair">
				<label>
					Hair
				</label><div class="controls">
					<span class="select">
						<select value="{{slotData[1].selectedItem}}">
							{{#data.items:j}}
								{{# filterSlot( (.), '1' ) }}
									{{# filterGender( (.), gender) }}
										<option value="{{ j }}" >{{ .name }}</option>
									{{/ filterGender( (.), gender) }}
								 {{/ filter slot }}
							 {{/data.items}}
						</select>
					</span>{{# !isEmpty(data.items[slotData[1].selectedItem].variants) }}<span class="select">
							<select value="{{slotData[1].selectedVariant}}">
							{{# data.items[slotData[1].selectedItem].variants:k }}
									<option value="{{ k }}">{{ .name }}</option>
							{{/data.items[slotData[1].selectedItem].variants}}
							</select>
					</span>
					{{/isEmpty}}
				</div>
			</div>

			<div class="subsection eyes">
				<label>
					Eyes
				</label><div class="controls">
					<span class="select">
						<select value="{{slotData[2].selectedItem}}">
							{{#data.items:j}}
								{{# filterSlot( (.), '2' ) }}
									{{# filterGender( (.), gender) }}
										<option value="{{ j }}" >{{ .name }}</option>
									{{/ filterGender( (.), gender) }}
								 {{/ filter slot }}
							 {{/data.items}}
						</select>
					</span>
				</div>
			</div>

			<div class="subsection clan">
				<label for="character-name">
					Clan
				</label><div class="controls">
					{{#slotData['0']}}
						{{#data.items:j}}
							{{# filterSlot( (.), '0' ) }}
								<button proxy-tap="select" proxy-mouseover="hint" proxy-mouseout="clearHint" data-slot="0" data-id="{{ j }}" class="icon sprite-{{ .name }} {{# slotData.0.selectedItem == j}}active{{/selectedItem}}"></button>
							 {{/ filter slot }}
						 {{/data.items}}
					{{/slotData['0']}}
				</div>
			</div>
		</div>
		<div class="screen equipment-screen {{# activeScreen == 'equipment' }}active{{/ activeScreen}}">
			<div class="budget">
				<span>
					Budget: <span class="sprite-coin-copper"></span>{{ playermeta.budget }} 
				</span><span class="{{# currentcost > playermeta.budget}}exceed{{/currentcost}}">

					Cost: <span class="sprite-coin-copper"></span>{{ currentcost }} 
				</span>
			</div>
			<div class="character">
				{{#slotData:i}}
					{{# i >= 10  }}
						<div class="slot {{ .name }} {{# openedSlot == i }}open{{/ openedSlot }}">
							<button class="icon" data-slot="{{ i }}" proxy-mouseover="hint" proxy-click="openSlot" proxy-mouseout="clearHint">
								{{# { selectedItem: data.items[slotData[i].selectedItem] } }}
									{{# selectedItem}}
										<span class="sprite-{{ selectedItem.icon }}"></span>
									{{/selectedItem}}
								{{/}}
							</button>
							<div class="item-selector">
								<ul>
									{{#data.slots[i].allowEmpty}}
										<li>
											<button class="icon" proxy-tap="select" proxy-mouseover="hint" data-slot="{{i}}" data-id="">
												<span class="sprite-empty"></span>	
											</button>
										</li>
									{{//allowEmpty}}
									{{#data.items:j}}
										{{>option}}
									{{/data.items}}
								</ul>
							</div>
						</div>
					{{/ i >= 10 }}
				{{/slotData}}
			</div>
			
		</div>
	</div><div class="help">
		{{{ hint }}}
	</div>
	<div class="actions">
		<button class="action-preview" proxy-tap="preview">
			Preview
		</button>{{# currentcost <= playermeta.budget}}<button class="action-finish" proxy-tap="update">
			Finish
		</button>
		{{/currentcost}}
	</div>
</div>

<!-- {{>option}} -->
	{{# filterSlot( (.), i ) }}
		{{# filterGender( (.), gender) }}<li>
				<button class="icon" proxy-tap="select" proxy-mouseover="hint" data-slot="{{ i }}" data-id="{{ j }}">
					<span class="sprite-{{ .icon }}"></span>
				</button>
				{{# !isEmpty(data.items[slotData[i].selectedItem].variants) }}
						<select value="{{.selectedVariant}}">
						{{# data.items[selectedItem].variants:k }}
								<option value="{{ k }}">{{ .name }}</option>
						{{/data.items[selectedItem].variants}}
						</select>
				{{/ end length}}
			</li>{{/ filter gender}}
	{{/ filter slot }}
<!-- {{/option}} -->