<div class="customizer-form">
	<label for="customiser-gender">gender</label>
	<select id="customiser-gender" value="{{gender}}">
		<option value="male">Male</option>
		<option value="female">Female</option>
	</select>
	{{#slotData:i}}
		<label for="customiser-slot-{{ .id }}">
			{{ .name }}
		</label>
		<select value="{{.selectedItem}}" id="customiser-slot-{{ .id }}">
			{{#data.items:j}}
				{{>option}}
			{{/data.items}}
		</select>
		{{# !isEmpty(data.items[selectedItem].variants) }}
			<select value="{{.selectedVariant}}">
			{{# data.items[selectedItem].variants:k }}
				<option value="{{ k }}">{{ k }}</option>
			{{/data.items[selectedItem].variants}}
			</select>
		{{/ end length}}
	{{/slotData}}
	<button on-tap="update">Finish</button>
</div>

<!-- {{>option}} -->
	{{# filterSlot( (.), i ) }}
		{{# filterGender( (.), gender) }}
			<option value="{{ j }}">{{ .name }}</option>
		{{/ filter gender}}
	{{/ filter slot }}
<!-- {{/option}} -->