{{#!visible}}
	<button class="show-rankings" on-tap="open"></button>
	<span class="current-budget">
		<span class="sprite-coin-copper"></span>&nbsp;{{ player.budget }}
	</span>
{{/!visible}}

{{#visible}}
	<div class="lobby">
		<h1>Archers!</h1>
		{{# status == 'connected'}}
			<div class="close" on-tap="close">&#x274c;</div>
			<table>
				<tr>
					<th>Pos</th>
					<th>Player</th>
					<th>Kills</th>
					<th>Deaths</th>
					<th>Score</th>
				</tr>
				{{#sort(players): pos}}
					<tr>
						<th>{{ pos+1 }}</th>
						<th>{{ .username }}</th>
						<th>{{ .kills }}</th>
						<th>{{ .deaths }}</th>
						<th>{{ .score }}</th>
					</tr>
				{{/players}}
			</table>

			{{#!spawned}}
				<button on-tap="customize">Select Equipment</button>
			{{/!spawned}}

			{{#account}}
					{{#spawned}}
						<button on-tap="suicide">Suicide!</button>
					{{/spawned}}
					{{# currentcost <= player.budget}}
						{{#!spawned && canspawn}}
							<button on-tap="spawn">Play!</button>
						{{/!spawned}}
						{{#!spawned && !canspawn}}
							<button>1 sec...</button>
						{{/!spawned}}
					{{/currentcost}}
			{{/account}}
		{{/connected}}
		{{# status != 'connected'}}
			<p> {{ status }} </p>
		{{/connected}}

		<nav class="support">
			<a href="/help.html" target="_blank">Help</a> |
			<a href="/credits.html" target="_blank">Credits</a>
		</nav>
	</div>
{{/visible}}