{{> head }}
<body>
	<div class="pre-footer-wrapper">
		<div class="wrap">
			<main role="main">
				<article>
			 		{{> body }}
				 </article>
			</main>
		</div>
		<div class="push"></div>
	</div>
	{{> footer }}
	{{> js }}
	{{> analytics }}
</body>
</html>