---
layout: default.hbs
title: Archers Blog
date: 2011-01-01
lead: "bla bla"
base_url: "../"
---

<strong>dupa</srong>

{{#eachYFM 'posts/*.hbs'}}
  <a href="{{slug}}.html">{{ title }}</a>
{{/eachYFM}}
