---
layout: home.hbs
title: Archers Blog
date: 2011-01-01
lead: "bla bla"
base_url: "../"
---

<p>
	Hi! This blog contains development notes, progress updates, screenshots and general thoughs related to a game I'm currently developing, working title 'Archers!'. Archers! is an multiplayer action game written fully in HTML5 &amp; JavaScript. It's not released yet but you might sign up for <a href="http://getbeta.archersgame.com/" target="_blank">early beta access</a>.
</p>

<p>If you have any comments or suggestions please feel free to drop me an email: <a href="mailto:tom@doppnet.com">tom@doppnet.com</a>.</p>


<ul class="posts-list">
	{{#getPosts 'src/posts/*.hbs'}}
		<li>
			<time datetime="{{date}}">{{formatDate date "%d %b %Y"}}</time><a href="{{slug}}.html">{{ title }}</a>
		</li>
	{{/getPosts}}
</ul>
