{{> head }}
<body>
	<div class="pre-footer-wrapper">
		<header role="banner">
			<img src="/img/logo.svg" alt="Archers Logo"><h1>Archers! - Development Blog</h1>
		</header>
		<div class="wrap">
			<main role="main">
			 	{{> body }}
			</main>
		</div>
		<div class="push"></div>
	</div>
	{{> footer }}
	{{> analytics }}
</body>
</html>