<footer role="contentinfo">
	<small>
		&copy; <time datetime="{{buildYear}}">{{buildYear}}</time>
		<span>Tom Najdek</span>
		|
		<a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>			
	</small>
</footer>