<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ title }}{{#isnt basename index}} - Archers! Development Blog{{/isnt}}</title>
	<meta name="description" content="{{description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/archers.css?v={{buildTimestamp}}" rel="stylesheet" media="all">
	<!--[if lt IE 9]><script src="js/html5shiv-printshiv.js" media="all"></script><![endif]-->
</head>