@font-face {
	font-family: 'ArchitectsDaughter';
	src: url('/fonts/ArchitectsDaughter.eot');
	src: url('/fonts/ArchitectsDaughter.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/ArchitectsDaughter.woff') format('woff'),
		 url('/fonts/ArchitectsDaughter.ttf') format('truetype'),
		 url('/fonts/ArchitectsDaughter.svg#corbertregular') format('svg');
	font-weight: normal;
	font-style: normal;
}