---
layout: default.hbs
title: Alpha Tests!
slug: alpha-tests
date: 2013-07-14
lead: "Looking to get some feedback on a very early version of the Archers! game"
base_url: "../"
---

<p>Hey there! Super quick update - my little game is <a href="http://archersgame.com/">up on-line</a> and available for testing for a limited period of time.</p>

<p>If you give it a shot I would appreciate if you could fill this <a href="https://docs.google.com/forms/d/1ubazaBWaj4GcFxq22Ry_7kfW854719u_3qjtdKkGArc/viewform" target="_blank">little feedback form</a> - many, many thanks!</p>