---
layout: default.hbs
title: Character customization
slug: character-customization
date: 2013-07-26
lead: "Current development status (with a screenshot) of 'character customization' feature in the Archers! game."
base_url: "../"
---

<p>
	Based on the <a href="/feedback-analysis.html">feedback I got from the early alpha tests</a>, one of the most often requested feature was to be able to customize your character. This totally makes sense as during alpha everyone's character looked exactly the same.
</p>

<p>
	Luckilly great folks hanging out at <a href="http://opengameart.org" target="_blank">OpenGameArt.org</a> have created all kinds clothing, armor, weapons, hair styles etc. for the <a href="http://lpc.opengameart.org/" target="_blank">Liberated Pixel Cup (LPC)</a> and made LPC style popular enough to get <a href="http://opengameart.org/content/liberated-pixel-cup-0" target="_blank">even more art submitted</a> after the competition ended. Because equipment and character spritesheets produced for LPC are usually compatibile with each other, I'm able to overlay spritesheets for hair styles, equipement etc. on top of a base body spritesheet producing a final spritesheet for a customised character. This can all happen dynamicallym on the frontend based on user choices. Below is a screenshot from a very early version (more like a POC) consisting of 3 spritesheets: white shirt, blue pants and base orc body:
</p>

<a class="fullwidth" href="/postgfx/archers-orc.png">
	<img src="/postgfx/archers-orc.png" alt="">
</a>

<p>Overlaying preloaded images on canvas is a cheap operation and even stacking 10 spritesheets on top of each other won't put too much pressure on the cpu in you smartphone. With all the crazy hair styles LPC characters can have with addition of various pieces of equipment and armor we will have hundreds of possible combinations and thus ensuring uniqueness of characters in the game.</p>
