---
layout: default.hbs
title: Character customization
slug: character-customization
date: 2013-07-26
lead: "Current development status (with a screenshot) of 'character customization' feature in the Archers! game."
base_url: "../"
---

<p>
	Based on the <a href="/feedback-analysis.html">feedback I got from the early alpha tests</a>, one of the most often requested feature was to be able to customize your character. This totally makes sense as during alpha everyone's character looked exactly the same.
</p>

<p>
	Luckily great folks hanging out at <a href="http://opengameart.org" target="_blank">OpenGameArt.org</a> have created all kinds clothing, armor, weapons, hair styles etc. for the <a href="http://lpc.opengameart.org/" target="_blank">Liberated Pixel Cup (LPC)</a> and made LPC style popular enough to get <a href="http://opengameart.org/content/liberated-pixel-cup-0" target="_blank">even more art submitted</a> after the competition ended. Because equipment and character sprite sheets produced for LPC are usually compatible with each other, I'm able to overlay sprite sheets for hair styles, equipment etc. on top of a base body sprite sheet producing a final sprite sheet for a customized character. This can all happen dynamically on the front end based on user choices. Below is a screenshot from a very early version (more like a POC) consisting of 3 sprite sheets: white shirt, blue pants and base orc body:
</p>

<a class="fullwidth" href="/postgfx/archers-orc.png">
	<img src="/postgfx/archers-orc.png" alt="Archers! game screenshot">
</a>

<p>Overlaying preloaded images on canvas is a cheap operation and even stacking 10 sprite sheets on top of each other won't put too much pressure on the cpu in you smartphone. With all the crazy hair styles LPC characters can have with addition of various pieces of equipment and armor we will have hundreds of possible combinations and thus ensuring uniqueness of characters in the game.</p>
