---
layout: default.hbs
title: Customized characters
slug: customized-characters
date: 2013-11-18
lead: "Quick update showing various customized characters on the main game screen"
base_url: "../"
---

<p>I had to pause development of the Archers! game for about 2 months due to various life 'things', however I've picked it up again few days ago so here is a nice screenshot showing four customized characters on the game map:</p>

<a class="fullwidth" href="/postgfx/archers-cust1.png">
	<img src="/postgfx/archers-cust1.png" alt="Archers! game screenshot">
</a>

<p>On the screenshot above you can see the debug rendering in the background and the actual game window in the front. Had to use 'incognito' mode to ensure that each client is treated as a new player.</p>

<p>More updates soon, watch this space!</p>