---
layout: default.hbs
title: Development screenshots
slug: development-screenshots
date: 2013-12-27
lead: "Few screenshots taken during development"
base_url: "../"
---

<p>Just a quick post to let you know that Archers! game is still beign developed. I'm still working on character customization, here are some screenshots showcasing what's coming, enjoy!</p>


<a class="fullwidth" href="/postgfx/archers-cust2.png">
	<img src="/postgfx/archers-cust2.png" alt="Archers! game screenshot">
</a>

<p>Just about getting there on mobiles, not so much on desktop:</p>

<a class="fullwidth" href="/postgfx/archers-cust3.png">
	<img src="/postgfx/archers-cust3.png" alt="Archers! game screenshot">
</a>

<p class="center"><strong >Happy New Year!</strong></p>