---
layout: default.hbs
title: Development screenshots 2
slug: development-screenshots-2
date: 2014-01-05
lead: "Few more screenshots taken during development"
base_url: "../"
---

<p>Another quick post showing few screenshots taken during the development. Customizer is pretty much done:</p>


<p class="center">
	<a class="inline" href="/postgfx/archers-cust4.png">
		<img src="/postgfx/archers-cust4.png" alt="Archers! game screenshot">
	</a>

	<a class="inline" href="/postgfx/archers-cust5.png">
		<img src="/postgfx/archers-cust5.png" alt="Archers! game screenshot">
	</a>
</p>

<p>
	And one from the actual game screen with 2 players connected (coins are the new feature - pickups!):
</p>


<a class="fullwidth" href="/postgfx/archers-pickups.png">
	<img src="/postgfx/archers-pickups.png" alt="Archers! game screenshot">
</a>

