---
layout: default.hbs
title: Dynamic multiplayer online game
slug: dynamic-multiplayer-online-game
date: 2012-05-11
lead: "Description"
base_url: "../"
---

<p>I've attempted to make an HTML 5 game before. Never finished anything but experimented with various concepts. This one is for real and since I'm the only person working on it, I'll keep the scope to minimum. On the other hand I want something that might, potentially, be fun to play from time to time. Here are some base concepts:</p>

<ul>
	<li>2D multiplayer shooter. Sounds fun and doable</li>
	<li>Browser-based, no plugins (i.e. pure HTML/JS/CSS)</li>
	<li>Keep it simple, make sure you deliver</li>
	<li>Use free graphics, from <a href="http://opengameart.org/" target="_blank">Open Game Art</a> or something. LPC looks like a good start</li>
</ul>

<p>And some technical ground rules based on problems with all my previous concepts:</p>

<ul>
	<li>Clear separation of backend and frontend.</li>
	<li><a href="http://socket.io/">SocketIO</a> is a wonderful library, but for a game you might need something lighter. Binary web sockets?</li>
	<li>Select a good framework for the frontend and stick to it. Needs research.</li>
	<li>Backend: either <a href="http://nodejs.org/">Node</a> or something python-based?</li>
</ul>