---
layout: default.hbs
title: Feedback Analysis
slug: feedback-analysis
date: 2013-07-22
lead: "Summary of feedback I've received after the early alpha test period of the Archers! game"
base_url: "../"
---

<p>About a week I've <a href="/alpha-tests.html">published an early alpha</a> version of the game and send a link to few selected people asking for feedback. I've got 15 people filling in my online form + few emails/chats with more specific comments. Not exactly statistically significant, but gives me a good idea of what people think.</p>

<h2>About audience</h2>
<p>First four questions on my feedback form were about the tester and not the actual game. First two questions were about device and browser used - testers were predominantly using Chrome on desktop. Out of all testers, only four also tested on a handheld device. Third question was about the internet connection speed - seems everyone got a better one than me, 20+Mbit/s being the most common answer. Finally in the fourth question I've asked how many other players there were playing. Now: I've made a huge mistake here - I didn't setup testing for a particula time of the day. Testers ended up playing with either just 1-2 other players or absolutely no-one on the server! Luckily I've hastily put in AI-controlled skeletons in the game so at least there was somethign to shoot at when there was no one else on the server.</p>


<h2>About the game</h2>
<p>Following 3 questions were about game controls (scale: 1 being bad and 5 being great). I got an average of 3.25 for how responsive the game felt, 3 for touch controls and 3.66 for the keyboard controls. Sounds like a lot of space for improvement! Here are some comments I've received regarding controls and responsiveness of the game:</p>

<ul>
	<li>It's weird/misleading that you need to keep the attack key (or touch equivalent) pressed to complete shooting</li>
	<li>When pressing 2 arrows at once (say up and left), character will always go up regardless of which button was pressed first.</li>
	<li>Bow takes too long to warm up so it's very hard to hit anything</li>
	<li>Touchscreen controls don't do anything 'on touch' (you have to point the 'virtual joystick' in some direction to get any action)</li>
</ul>

<p>I was quite surprised to find out that people so badly don't want to keep attack button pressed to complete attack. However this seems like a common comment so I'll need to address this somehow. I agree with the other comments, especially the fact that the bow takes way to loong to warm up which makes the game bit boring. Will need to add some dynamics!</p>

<h2>Suggestions for further development</h2>
<p>Ahh, In the next question I've asked testers to rate features they would like to see implemented in the game in future, offering the following choices (each options could have been given a priority between 1 (most important) and 8 (least important), I've averaged all the answers in the table below:</p>

<div class="table-container">
	<table>
		<tr>
			<th>Feature</th><th>Avg. Popularity</th>
		</tr>	
		<tr>
			<td>Bonus pickups (faster movement/shooting, invincibility etc.)</td>
			<td>3.88</td>
		</tr>
		<tr>
			<td>Character customization (change the look of your archer)</td>
			<td>3.90</td>
		</tr>
		<tr>
			<td>Co-op play (team up against tasks, quests and environment/AI challenges</td>
			<td>5.44</td>
		</tr>
		<tr>
			<td>Player vs. Player modes (team deathmatch, capture the flag etc.)</td>
			<td>4.63</td>
		</tr>
		<tr>
			<td>Make it into a MOBA game (like LOL/DOTA)</td>
			<td>4.63</td>
		</tr>
		<tr>
			<td>Make it into a medieval-battle game</td>
			<td>4.50</td>
		</tr>
		<tr>
			<td>Make it into a RPG game, drop multiplayer</td>
			<td>3.50</td>
		</tr>
		<tr>
			<td>Make it into a MMORPG game</td>
			<td>5.33</td>
		</tr>
	</table>
</div>

<p>To my surpirse the best scoring answer was: "drop multiplayer, make a single-player RPG" (average score 3.5). This was quite shocking, especially that at this stage it cannot happen - however I'll keep it in mind for my next game. Other two high scoring answers *"bonus pickups" and "customisation")  will definitely make it into the next iteration of the game</p>

<h2>Other suggestions</h2>
<p>I've got a lots of suggestion coming in either posted in a last interview question (free text) or via other channels, here are some of the most common ones:</p>

<ul>
	<li>Map collision glitches - 'invisible' wall collisions etc.</li>
	<li>Add music and sound effects (got lots of that!)</li>
	<li>Add more weapons, more types of ai-controlled mobs etc.</li>
</ul>

<p>On top of that I've got a long list of issues and bugs reported that I'll now need to verify and fix. Many thanks to everyone who send me their feedback, your help is invaluable!</p>