---
layout: default.hbs
title: Game mechanics + server browser
slug: game-mechanics-server-browser
date: 2014-04-21
lead: "Development progress update showing some new game mechanics as well as the entirely new component - the server browser"
base_url: "../"
---

<p>It has been a while since the last time I was able to work on <strong>Archers</strong>!, but I'm still going! With the <a href="/development-screenshots-2.html">customizer completed</a> I was able to move on to work on the actual game mechanics. To keep things simple I've decided I won't implement a traditional <em>health bar</em>, keeping current mechanics where a single hit kills you instead. Armor will give you a chance to deflect the incoming arrow, but heavy armor will also slow you down.</p>

<p>Here is a screenshot catching the deflect event in action:</p>

<p class="center">
	<a class="inline" href="/postgfx/archers-deflect.png">
		<img src="/postgfx/archers-deflect.png" alt="Archers! game screenshot">
	</a>
</p>

<p>
	Also put together a simple server browser for upcoming test event:
</p>


<a class="fullwidth" href="/postgfx/archers-server-browser.png">
	<img src="/postgfx/archers-server-browser.png" alt="Archers! game screenshot">
</a>

<p>Stay tuned!</p>

<p class="center">
	<img src="/postgfx/archers-deflect-animation.gif" alt="deflect animation anigif">
</p>
