---
layout: default.hbs
title: Open Sourcing Archers!
slug: open-sourcing-archers
date: 2014-06-29
lead: ""
base_url: "../"
---

<p>I've decided to open source Archers! hoping that either game as a whole or at least some components of it will be of use to someone. For a more detailed explanations please see my <a href="http://doppnet.com/2014/06/5-things-ive-learned-making-a-game/">blog post</a>.</p>

<p>
	If you would like to play Archers, I'm hosting a couple of servers, here is the <a href="http://archersgame.com">server browser</a>.
</p>

<p>
	I would like to thank everyone who helped and supported me in making this game, especially those who joined me for multiplayer testing sessions. You've been great and your feedback is much appreciated! I've definitely learned a lot while making Archers! and this is defintely not the last game I've made! Thanks!
</p>