---
layout: default.hbs
title: Searching for a frontend engine
slug: searching-for-a-frontend-engine
date: 2013-05-20
lead: "A quick post describing my search for a JS engine I could use to speed up development of the Archers! Game"
base_url: "../"
---

<p>One of the first thing you need to do when making a browser-based game is to decide on technologies used and then see if there is an engine with enough flexibility and power to support the vision of you game. In my prior attempts I've been playing with few different engines including <a href="http://melonjs.org/" target="_blank">MelonJS</a> and <a href="http://gamejs.org/" target="_blank">GameJS</a>. However neither of them would be suitable for the game I had in mind. Because I want to write a game and not yet another engine, I've been experimenting with various engines using <a href="https://github.com/bebraw/jswiki/wiki/Game-Engines" target="_blank">this list</a> as a starting point. After fooling around with few more options I've settled down for <a href="http://www.playcraftlabs.com/">Playcraft</a> - it's a commercial solution but comes with source code and a license friendly to indie developers.</p>

<p>Playcraft works just fine for the frontend and though current version doesn't offer a server-side component, with few hacks I even managed to get it up and running for the backend on Node. However it doesn't feel stable nor particularly ellegant. I need something solid to maintain the state of the game, contain all the mechanics etc. Perhaps I should consider a python-based backend?</p>
