---
layout: default.hbs
title: Works on mobiles too!
slug: works-on-mobiles-too
date: 2013-07-07
lead: "Quick update showing a screenshot of a first working version of the Archers! game on mobile"
base_url: "../"
---

<p>Since day one I've been planning support for modern smartphones and here is a first working version:</p>

<a class="fullwidth" href="/postgfx/archers-on-mobile.png">
	<img src="/postgfx/archers-on-mobile.png" alt="Archers! game screenshot">
</a>

<p>This is an actual screenshot from my Nexus 4, currently left half of the screen controls moving and the right one - shooting. On the screenshot above you can see orange rings as a response to my touch input. I've adapted brilliantly simple <a href="https://github.com/jeromeetienne/virtualjoystick.js">virtualjoystick.js</a> lib to support touch input.</p>

<p>Oh and archers are no longer bald!</p>