@import "reset.less";
@import (less) "corbert.css";
@import (less) "nove.css";

@accent1: rgb(255, 217, 0);
@headerfooter: rgb(0,0,0);
@bodytext: rgb(239,239,239);

body {
	font-family: corbertregular, sans-serif;
	background: url('/img/bgmap.jpg') center center no-repeat #000;
	color: @bodytext;
	font-size: 16px;
}


a {
	color: @accent1;
	text-decoration: none;

	transition-duration: 0.5s;
	transition-property: color;
	transition-timing-function: ease-in-out;



	&:visited {
		color: darken(@accent1, 10%);
	}

	&:hover, &:visited:hover { 
		color: #fff;
	}

}


header {
	min-height: 100px;
	background-color: @headerfooter;
	padding:1em;
	box-sizing: border-box;
	margin-bottom: 2em;

	border-bottom: 1px solid darken(@accent1, 15%);
	box-shadow: inset 0 -3px 0 @accent1;
	text-align: right;

	img {
		height:100%;
		max-width: 96px;
		margin-left:60px; 
	}

	h1 {
		margin-left: 20px;
	}

	h1, img {
		display: inline-block;
		vertical-align: middle;
	}
}

nav {
	position: fixed;
	top:0;
	bottom:0;
	width:300px;
	background-color: @headerfooter;
	transition-delay: 0s;
	transition-duration: 0.5s;
	transition-property: transform;
	transition-timing-function: ease-in-out;
	transform:translateX(-310px) translateZ(0);

	border-right: 1px solid darken(@accent1, 15%);
	box-shadow: inset -3px 0 0 @accent1, 5px 0 10px rgba(0, 0, 0, 0.75);

	padding: 1.5em 0;
	box-sizing:border-box;

	&.show {
		transform:translateX(0);
	}

	ul {
		margin: 0;
		padding:0;
		list-style: none;

		li {
			border-top:1px solid @accent1;
			padding: 0.3em 1em 0.5em 1em;

			transition-duration: 0.5s;
			transition-property: border;
			transition-timing-function: ease-in-out;

			a, a:visited {
				color: @accent1
			}


			&:hover {
				color: #fff;
				border-color: #fff!important; //needs important to override :last-child
			}
		}

		li + li, li:last-child {
			border-bottom:1px solid @accent1;
		}

	}
}

.wrap {
	width:100%;

	transition-delay: 0s;
	transition-duration: 0.5s;
	transition-property: transform width;
	transition-timing-function: ease-in-out;
}

nav.show + div > .wrap {
	transform: translateX(300px);
	width: calc(~"100% - 300px");
}

main {
	width:100%;
	max-width: 960px;
	display: block;
	margin: 0 auto;
	line-height: 1.65em;
	background: rgba(0,0,0, 0.65);
	border:1px solid @accent1;
	border-radius: 8px;
	box-shadow: inset 0 0 10px alpha(@accent1, 0.4);
	padding: 1.5em 2.25em;
	box-sizing: border-box;
	margin-bottom: 2em;
}

button.menu {
	background: transparent;
	border: 1px solid @accent1;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	padding: 0.75em;
	color:@accent1;
	cursor:pointer;

	transition-duration: 0.5s;
	transition-property: color border;
	transition-timing-function: ease-in-out;

	&:hover {
		color: #fff;
		border: 1px solid #fff;
	}
}

p {
	margin: 1em 0 1em 0;
}

h1 {
	font-family: novecento_sans_widemedium, sans-serif;
	span, time {
		width:50%;
		display: inline-block;
	}

	time {
		text-align: right;
	}
}

ul {
	margin-left: 60px;
}

html, body {
	height: 100%;
}

.pre-footer-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -3em;
}

footer, .push {
	height: 3em;
}

footer {
	background-color: @headerfooter;
	padding:1em;
	box-sizing: border-box;
	border-top: 1px solid darken(@accent1, 15%);
	box-shadow: inset 0 3px 0 @accent1;
	text-align: right;
}