<footer role="contentinfo">
	<div class="social">
		<a href="http://twitter.com/tnajdek" class="twitter-icon"></a>
		<a href="https://plus.google.com/112496233047981712515" class="gplus-icon"></a>
		<a href="https://github.com/tnajdek" class="github-icon"></a>
	</div><div class="copy">
		<small>
			&copy; <time datetime="{{buildYear}}">{{buildYear}}</time>
			<span>Tom Najdek</span>
		</small>
	</div>
</footer>