.customiser {
	color:#fff;
	box-sizing:border-box;
	width:100%;
	margin-left: auto;
	text-align: left;

	background: url('/gfx/texture/dark_leather.png') repeat;


	border-style: solid;
	border-width: 68px;
	border-image: url('/gfx/border.png') 68 fill repeat;

	@media @upto-small {
		border-image: url('/gfx/border-small.png') 6 fill repeat;
		border-width: 6px;
	}
	
	z-index: 10;
	position: relative;

	@media @from-large {
		position: fixed;
	}

	.main {
		position: relative;
		height:auto
	}

	.main, .help {
		width:50%;
		display: inline-block;
		vertical-align: top;
	}

	.help {
		background: url('/gfx/texture/old_map.png') repeat;

		height:100%;
		border-style: solid;
		border-width: 6px;
		border-image: url('/gfx/border-small.png') 6 fill repeat;
		background-color: rgba(0,0,0,0.25);
		box-sizing:border-box;
		color: #121212;
		padding: 1em;

	}


	.character {
		background: url('/gfx/shiloutte.png') no-repeat;
		width:323px;
		height:400px;
		margin:0 auto;
		position:relative;

		.slot {
			position: absolute;
			
			&.head {
				left: 75px;
			}
			&.armor {
				left: 81px;
				top: 87px;
			}
			&.weapon {
				left: 230px;
				top: 120px;
			}

			&.boots {
				left: 120px;
				top: 360px;
			}

			&.eyes, &.body, &.hair {
				display:none;
			}

			>button {
				line-height: 42px;

				&:before {
					background: url('/gfx/slot.png') no-repeat;
					width:42px;
					height:42px;
					opacity: 0.6;
					content:" ";
					display: block;
					transition: opacity 0.5s, ease-in-out;
					margin-bottom: -42px;
				}

				span {
					display:inline-block;
					text-align: center;
					vertical-align: text-bottom;
					position: relative;
					z-index: 2;

				}

				&:hover {
					&:before {
						opacity: 1;
					}
				}
			}

			.item-selector {
				display:none;

				ul {
					list-style: none;
					padding: 0;

					li {
						text-align: center;
						button {
							width:42px;
							height: 42px;
							border: 1px solid #ffd700;
							text-align: center;
							line-height: 42px;
							padding:0;

							span {
								display: inline-block;
								vertical-align: middle;
							}
						}
					}
				}
			}

			&.open .item-selector {
				display: block;
			}
		}
	}

	button.icon {
		background-color: transparent;
		border:none;
		opacity: 0.6;
		transition: opacity 0.5s, ease-in-out;
		&:hover, &.active {
			opacity: 1;
		}
	}
}