.overlay-lobby {
	.lobby {
		color:#fff;
		border: 1px solid black;
		min-height: 200px;
		max-height: 90%;
		left: 50%;
		margin-left: -200px;
		position: fixed;
		width: 400px;
		z-index: 10;
		background-color: rgba(0,0,0,0.6);
		padding: 10px;
		border-radius: 5px;
		text-align:center;
		overflow-y: auto;

		p {
			text-align: left;
		}
	}

	.help, .spawn {
		display:none;
	}


	.lobby .close {
		height: 14px;
		margin-bottom: -20px;
		text-align: right;
		cursor:pointer;
	}

	.current-budget {
		position: absolute;
		top: 10px;
		right: 50px;
		z-index:10;
		color: #fff;
	}

	.sprite-coin-copper {
		display: inline-block;
		vertical-align: middle;
	}


	button.show-rankings {
		position:absolute;
		top: 10px;
		left: 10px;
		background-image: url('/gfx/skull.png');
		width:32px;
		height:32px;
		z-index:10;
		border:1px solid white;
		box-shadow: 2px 2px 4px 0 #343434;
		cursor:pointer;
	}
}