	@clan-grunt-x: 0px;
	@clan-grunt-y: 0px;
	@clan-grunt-offset-x: 0px;
	@clan-grunt-offset-y: 0px;
	@clan-grunt-width: 64px;
	@clan-grunt-height: 64px;
	@clan-grunt-total-width: 228px;
	@clan-grunt-total-height: 205px;
	@clan-grunt-image: '/gfx/sprites.png';
	@clan-grunt: 0px 0px 0px 0px 64px 64px 228px 205px '/gfx/sprites.png';
	@clan-lion-x: 132px;
	@clan-lion-y: 66px;
	@clan-lion-offset-x: -132px;
	@clan-lion-offset-y: -66px;
	@clan-lion-width: 64px;
	@clan-lion-height: 64px;
	@clan-lion-total-width: 228px;
	@clan-lion-total-height: 205px;
	@clan-lion-image: '/gfx/sprites.png';
	@clan-lion: 132px 66px -132px -66px 64px 64px 228px 205px '/gfx/sprites.png';
	@clan-sun-x: 0px;
	@clan-sun-y: 66px;
	@clan-sun-offset-x: 0px;
	@clan-sun-offset-y: -66px;
	@clan-sun-width: 64px;
	@clan-sun-height: 64px;
	@clan-sun-total-width: 228px;
	@clan-sun-total-height: 205px;
	@clan-sun-image: '/gfx/sprites.png';
	@clan-sun: 0px 66px 0px -66px 64px 64px 228px 205px '/gfx/sprites.png';
	@clan-wolf-x: 66px;
	@clan-wolf-y: 66px;
	@clan-wolf-offset-x: -66px;
	@clan-wolf-offset-y: -66px;
	@clan-wolf-width: 64px;
	@clan-wolf-height: 64px;
	@clan-wolf-total-width: 228px;
	@clan-wolf-total-height: 205px;
	@clan-wolf-image: '/gfx/sprites.png';
	@clan-wolf: 66px 66px -66px -66px 64px 64px 228px 205px '/gfx/sprites.png';
	@eqp-icon-bow-x: 38px;
	@eqp-icon-bow-y: 132px;
	@eqp-icon-bow-offset-x: -38px;
	@eqp-icon-bow-offset-y: -132px;
	@eqp-icon-bow-width: 16px;
	@eqp-icon-bow-height: 44px;
	@eqp-icon-bow-total-width: 228px;
	@eqp-icon-bow-total-height: 205px;
	@eqp-icon-bow-image: '/gfx/sprites.png';
	@eqp-icon-bow: 38px 132px -38px -132px 16px 44px 228px 205px '/gfx/sprites.png';
	@eqp-icon-golden-helm-x: 130px;
	@eqp-icon-golden-helm-y: 132px;
	@eqp-icon-golden-helm-offset-x: -130px;
	@eqp-icon-golden-helm-offset-y: -132px;
	@eqp-icon-golden-helm-width: 26px;
	@eqp-icon-golden-helm-height: 28px;
	@eqp-icon-golden-helm-total-width: 228px;
	@eqp-icon-golden-helm-total-height: 205px;
	@eqp-icon-golden-helm-image: '/gfx/sprites.png';
	@eqp-icon-golden-helm: 130px 132px -130px -132px 26px 28px 228px 205px '/gfx/sprites.png';
	@eqp-icon-greatbow-x: 0px;
	@eqp-icon-greatbow-y: 132px;
	@eqp-icon-greatbow-offset-x: 0px;
	@eqp-icon-greatbow-offset-y: -132px;
	@eqp-icon-greatbow-width: 17px;
	@eqp-icon-greatbow-height: 52px;
	@eqp-icon-greatbow-total-width: 228px;
	@eqp-icon-greatbow-total-height: 205px;
	@eqp-icon-greatbow-image: '/gfx/sprites.png';
	@eqp-icon-greatbow: 0px 132px 0px -132px 17px 52px 228px 205px '/gfx/sprites.png';
	@eqp-icon-kettle-hat-x: 198px;
	@eqp-icon-kettle-hat-y: 50px;
	@eqp-icon-kettle-hat-offset-x: -198px;
	@eqp-icon-kettle-hat-offset-y: -50px;
	@eqp-icon-kettle-hat-width: 30px;
	@eqp-icon-kettle-hat-height: 21px;
	@eqp-icon-kettle-hat-total-width: 228px;
	@eqp-icon-kettle-hat-total-height: 205px;
	@eqp-icon-kettle-hat-image: '/gfx/sprites.png';
	@eqp-icon-kettle-hat: 198px 50px -198px -50px 30px 21px 228px 205px '/gfx/sprites.png';
	@eqp-icon-leather-armor-x: 198px;
	@eqp-icon-leather-armor-y: 73px;
	@eqp-icon-leather-armor-offset-x: -198px;
	@eqp-icon-leather-armor-offset-y: -73px;
	@eqp-icon-leather-armor-width: 30px;
	@eqp-icon-leather-armor-height: 19px;
	@eqp-icon-leather-armor-total-width: 228px;
	@eqp-icon-leather-armor-total-height: 205px;
	@eqp-icon-leather-armor-image: '/gfx/sprites.png';
	@eqp-icon-leather-armor: 198px 73px -198px -73px 30px 19px 228px 205px '/gfx/sprites.png';
	@eqp-icon-leather-cap-x: 0px;
	@eqp-icon-leather-cap-y: 186px;
	@eqp-icon-leather-cap-offset-x: 0px;
	@eqp-icon-leather-cap-offset-y: -186px;
	@eqp-icon-leather-cap-width: 36px;
	@eqp-icon-leather-cap-height: 19px;
	@eqp-icon-leather-cap-total-width: 228px;
	@eqp-icon-leather-cap-total-height: 205px;
	@eqp-icon-leather-cap-image: '/gfx/sprites.png';
	@eqp-icon-leather-cap: 0px 186px 0px -186px 36px 19px 228px 205px '/gfx/sprites.png';
	@eqp-icon-leather-hood-x: 158px;
	@eqp-icon-leather-hood-y: 132px;
	@eqp-icon-leather-hood-offset-x: -158px;
	@eqp-icon-leather-hood-offset-y: -132px;
	@eqp-icon-leather-hood-width: 23px;
	@eqp-icon-leather-hood-height: 26px;
	@eqp-icon-leather-hood-total-width: 228px;
	@eqp-icon-leather-hood-total-height: 205px;
	@eqp-icon-leather-hood-image: '/gfx/sprites.png';
	@eqp-icon-leather-hood: 158px 132px -158px -132px 23px 26px 228px 205px '/gfx/sprites.png';
	@eqp-icon-metal-helm-x: 198px;
	@eqp-icon-metal-helm-y: 26px;
	@eqp-icon-metal-helm-offset-x: -198px;
	@eqp-icon-metal-helm-offset-y: -26px;
	@eqp-icon-metal-helm-width: 22px;
	@eqp-icon-metal-helm-height: 22px;
	@eqp-icon-metal-helm-total-width: 228px;
	@eqp-icon-metal-helm-total-height: 205px;
	@eqp-icon-metal-helm-image: '/gfx/sprites.png';
	@eqp-icon-metal-helm: 198px 26px -198px -26px 22px 22px 228px 205px '/gfx/sprites.png';
	@eqp-icon-plain-clothing-x: 198px;
	@eqp-icon-plain-clothing-y: 0px;
	@eqp-icon-plain-clothing-offset-x: -198px;
	@eqp-icon-plain-clothing-offset-y: 0px;
	@eqp-icon-plain-clothing-width: 30px;
	@eqp-icon-plain-clothing-height: 24px;
	@eqp-icon-plain-clothing-total-width: 228px;
	@eqp-icon-plain-clothing-total-height: 205px;
	@eqp-icon-plain-clothing-image: '/gfx/sprites.png';
	@eqp-icon-plain-clothing: 198px 0px -198px 0px 30px 24px 228px 205px '/gfx/sprites.png';
	@eqp-icon-recurvebow-x: 19px;
	@eqp-icon-recurvebow-y: 132px;
	@eqp-icon-recurvebow-offset-x: -19px;
	@eqp-icon-recurvebow-offset-y: -132px;
	@eqp-icon-recurvebow-width: 17px;
	@eqp-icon-recurvebow-height: 48px;
	@eqp-icon-recurvebow-total-width: 228px;
	@eqp-icon-recurvebow-total-height: 205px;
	@eqp-icon-recurvebow-image: '/gfx/sprites.png';
	@eqp-icon-recurvebow: 19px 132px -19px -132px 17px 48px 228px 205px '/gfx/sprites.png';
	@female-x: 132px;
	@female-y: 0px;
	@female-offset-x: -132px;
	@female-offset-y: 0px;
	@female-width: 64px;
	@female-height: 64px;
	@female-total-width: 228px;
	@female-total-height: 205px;
	@female-image: '/gfx/sprites.png';
	@female: 132px 0px -132px 0px 64px 64px 228px 205px '/gfx/sprites.png';
	@icon-character-x: 96px;
	@icon-character-y: 132px;
	@icon-character-offset-x: -96px;
	@icon-character-offset-y: -132px;
	@icon-character-width: 32px;
	@icon-character-height: 32px;
	@icon-character-total-width: 228px;
	@icon-character-total-height: 205px;
	@icon-character-image: '/gfx/sprites.png';
	@icon-character: 96px 132px -96px -132px 32px 32px 228px 205px '/gfx/sprites.png';
	@icon-equipment-x: 56px;
	@icon-equipment-y: 132px;
	@icon-equipment-offset-x: -56px;
	@icon-equipment-offset-y: -132px;
	@icon-equipment-width: 38px;
	@icon-equipment-height: 32px;
	@icon-equipment-total-width: 228px;
	@icon-equipment-total-height: 205px;
	@icon-equipment-image: '/gfx/sprites.png';
	@icon-equipment: 56px 132px -56px -132px 38px 32px 228px 205px '/gfx/sprites.png';
	@male-x: 66px;
	@male-y: 0px;
	@male-offset-x: -66px;
	@male-offset-y: 0px;
	@male-width: 64px;
	@male-height: 64px;
	@male-total-width: 228px;
	@male-total-height: 205px;
	@male-image: '/gfx/sprites.png';
	@male: 66px 0px -66px 0px 64px 64px 228px 205px '/gfx/sprites.png';

	.sprite-width(@sprite) {
		width: ~`"@{sprite}".split(', ')[4]`;
	}

	.sprite-height(@sprite) {
		height: ~`"@{sprite}".split(', ')[5]`;
	}

	.sprite-position(@sprite) {
		@sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
		@sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
		background-position: @sprite-offset-x  @sprite-offset-y;
	}

	.sprite-image(@sprite) {
		@sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
		background-image: url(@sprite-image);
	}

	.sprite(@sprite) {
		.sprite-image(@sprite);
		.sprite-position(@sprite);
		.sprite-width(@sprite);
		.sprite-height(@sprite);
	}

	.sprite-clan-grunt {.sprite(@clan-grunt)}
	.sprite-clan-lion {.sprite(@clan-lion)}
	.sprite-clan-sun {.sprite(@clan-sun)}
	.sprite-clan-wolf {.sprite(@clan-wolf)}
	.sprite-eqp-icon-bow {.sprite(@eqp-icon-bow)}
	.sprite-eqp-icon-golden-helm {.sprite(@eqp-icon-golden-helm)}
	.sprite-eqp-icon-greatbow {.sprite(@eqp-icon-greatbow)}
	.sprite-eqp-icon-kettle-hat {.sprite(@eqp-icon-kettle-hat)}
	.sprite-eqp-icon-leather-armor {.sprite(@eqp-icon-leather-armor)}
	.sprite-eqp-icon-leather-cap {.sprite(@eqp-icon-leather-cap)}
	.sprite-eqp-icon-leather-hood {.sprite(@eqp-icon-leather-hood)}
	.sprite-eqp-icon-metal-helm {.sprite(@eqp-icon-metal-helm)}
	.sprite-eqp-icon-plain-clothing {.sprite(@eqp-icon-plain-clothing)}
	.sprite-eqp-icon-recurvebow {.sprite(@eqp-icon-recurvebow)}
	.sprite-female {.sprite(@female)}
	.sprite-icon-character {.sprite(@icon-character)}
	.sprite-icon-equipment {.sprite(@icon-equipment)}
	.sprite-male {.sprite(@male)}
